<h1>
  <strong>
    Hello, residents of Apartment <%= @user.apartment_number %>
  </strong>
</h1>

<p>
  Thank you for signing up!
</p>

<p>
  <a href="http://www.111wbroughtonstreet.com">111WBroughtonStreet.com</a> is here to help residents communicate with one another, as well as collectively address common issues such as noise, security, etc.
</p>
<p>
  Here are a few things for you to know:
</p>

<ul>
  <li>
    <strong>This website is not affiliated in any way to Coastline Property Management.</strong> It is built and managed entirely by the residents of 111 W Broughton Street.
  </li>
  <br>
  <li>Whatever you post on this website will remain <strong>anonymous.</strong></li>
  <br>
  <li>The main purpose of this website is for residents to share information and address issues together as a community.</li>
  <br>
  <li>Coastline Property Management will not be able to see what you post, so if you have an issue you would like resolved, you still need to go through their <a href="https://app.propertyware.com/pw/portals/coastlinemanagementllc/tenant.action">tenant portal</a>.</li>
  <br>
</ul>

<p>
  If you have any feedback or questions, you can reach the group's administrator at <a href="mailto:broughtonstreetresidents@gmail.com">broughtonstreetresidents@gmail.com</a>.
</p>

<h3>;)</h3>
