<div class="my-4">
  <h2>Coastline Property Management</h2>
  <u>Jonathan Haley</u>
  <br>
  <strong>Office Phone Number:</strong> (912) 417-4629
  <br>
  <strong>Property Manager's Cell Phone:</strong> (912) 247-0447
  <br>
  <strong>email:</strong> jonathan@coastlinegeorgia.com
  <br>
</div>
<div class="my-4">
  <h2>White Rabbit Lounge's Property Manager:</h2>
  <u>Quito Anderson</u>
  <br>
  <strong>email:</strong> quito@bencarterenterprises.com
  <br>
</div>
