<div class="wrapper-home">
  <h1>111 W Broughton Street Tenant Association</h1>
  <br>
  <p>
    This website serves as a communication tool for the residents of 111 W Broughton Street in Savannah. It is <em>not</em> affiliated with the Coastline Property Management company.
  </p>
  <p>
    As a tenant, you can document issues and post comments regarding your experience living in the 111 W Broughton Street Apartments. You can also use this site to view correspondance between the residents of 111 W Broughton and other parties.
  </p>
  <p>
    As a visitor, you may download a copy of the anonymized tenant issue report, or contact the tenant association directly.
  </p>
  <br>
</div>
<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-xs-12 col-sm-3">
      <% if user_signed_in? %>
      <%= link_to residents_path do %>
          <button class="btn btn-outline-primary">Tenant Portal</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-outline-primary">Tenant Login</button>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button class="btn btn-outline-primary">Download Issues Report</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= link_to new_message_path do %>
        <button class="btn btn-outline-primary">Contact Tenants</button>
      <% end %>
    </div>
  </div>
</div>
