// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper-home {
  margin: 20px;
}
.wrapper-login {
  max-width: 500px;
  margin: 20px auto;
}
.wrapper-contact {
  max-width: 500px;
  margin: 20px auto;
}
li {
  list-style-type: none;
}
.clickable :hover {
  cursor: pointer;
}
.small-link {
  font-size: 12px;
}
.current-issue-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comments {
  margin: 30px;
  color: gray;
}
